@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
	margin: auto;
	padding: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	background: #5d636d;
	color: #ffffff;
}

h1.name {
    background-color: #484C54;
}

a {
	color: #960a0a;
	text-decoration: none;
}

a:hover {
	color: #c40b0b;
	border-bottom: 1px dashed #c40b0b;
}

.fa-envelope-o, .fa-twitter, .fa-youtube, .fa-github {
	color: #cdd0d6
}

div.social, footer {
    position: relative;
    top: 60px;
}

.bio,
.social,
footer {
	text-align: center;
}

.about {
	width: 700px
	margin-bottom: 15px;
	text-align: left;
	max-width: 750px;
}

.social {
	font-size: 15px;
}

footer {
	font-size: 10px;
}
